@import "../css/variables";

.page {
	font-size: .875rem;
	h2 {
		margin: 4rem 0 2rem;
		border-bottom: 1px solid #ddd;
	}
	h3 {
		margin: 3rem 0 1rem;
	}
	h4 {
		margin: 1.5rem 0 -.5rem;
	}
	ul,
	ol {
		margin: 1.5rem 0;
		padding-left: 22px;
	}
	code {
		margin: 0 2px;
		white-space: nowrap;
		padding: 3px 5px;
		border-radius: 2px;
		background: #eeeff0;
		font-size: 85%;
		color: $color-sub;
		font-family: $font-console;
	}
	pre {
		margin: 1.25rem 0;
		padding: 1rem;
		background: #eeeff0;
		font-size: 0;
		line-height: 1.5;
		overflow: auto;
		box-shadow: inset 0 3px 5px rgba(0,0,0,.03);
		tab-size: 4;
		> code {
			margin: 0;
			padding: 0;
			background: none;
			white-space: pre;
			border-radius: 0;
			color: $color-sub;
			font-size: .8125rem;
		}
	}
	blockquote {
		position: relative;
		margin: 1.5rem 0;
		padding: 1rem;
		background: $color-sub;
		color: #fff;
		font-size: .875rem;
		* {
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			color: #fff;
		}
		ul {
			padding-left: 20px;
		}
	}
	table:not(.table) {
		width: 100%;
		border-collapse: collapse;
		margin: 1.5rem 0;
		font-size: .875rem;
		background: #fff;
		caption {
			padding: 0 0 6px;
			text-align: left;
			font-size: .8125rem;
			font-weight: 600;
		}
		th,
		td {
			border: 1px solid mix($color-gray-light, #fff, 60%);
			padding: 8px 10px;
		}
		thead {
			th {
				padding: 8px 0;
				background: mix($color-gray-light, #fff, 30%);
			}
		}
		tbody {
			th {
				font-weight: 400;
			}
		}
	}

	> *:first-child {
		margin-top: 0;
	}

	.example {
		position: relative;
		background: #fff;
		padding: 30px 20px;
		border: 1px solid #ddd;
		box-sizing: border-box;
		&:after {
			content: 'example';
			display: block;
			position: absolute;
			right: -1px;
			top: -9px;
			padding: 1px 6px;
			text-transform: uppercase;
			border-bottom: 1px solid #eee;
			border-left: 1px solid #eee;
			background: $color-sub;
			font-family: $font-eng;
			font-size: .625rem;
			color: #fff;
			font-weight: 600;
		}
		> hr {
			display: block;
			margin: 15px 0;
			height: 1px;
			border: none;
			background: #eee;
		}
		> * {
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.example-grid {
		.row {
			span {
				display: block;
				padding: 8px 12px;
				text-align: center;
				background: rgba($color-key, .12);
				border: 1px solid $color-key;
				border-radius: 3px;
				font-weight: 600;
				color: $color-key;
				font-size: .75rem;
				box-sizing: border-box;
			}
		}
		.fixed-v {
			padding: 10px;
			height: 80px;
			border: 2px solid $color-key;
		}
		.fixed-h {
			padding: 10px;
			border: 2px solid $color-key;
		}
	}
	.example-code {
		margin-top: -1px;
		position: relative;
	}
}
