@import "../../../css/variables";
@import "../../../css/mixins";

// set variables
$self: '.form-text';
// size
$size-padding: $form-size-side-padding;
$size-height-small: $form-size-height-small;
$size-height-normal: $form-size-height-basic;
$size-height-large: $form-size-height-large;
$size-radius: $form-size-radius;
$size-font-base: $form-size-font-basic;
$size-font-small: $form-size-font-small;
$size-font-large: $form-size-font-large;
// color
$color-text-base: $color-base;
$color-text-placeholder: #ccc;
$color-text-primary: $color-sub;
$color-text-success: $color-success;
$color-text-error: $color-error;
$color-border-basic: $form-color-border;
$color-border-focus: $form-color-border-focus;
$color-shadow-focus: $form-color-shadow-focus;


// base
.form-text {
  display: block;
  padding-left: $size-padding;
  padding-right: $size-padding;
  width: 100%;
  height: $size-height-normal;
  box-sizing: border-box;
  border: 1px solid $color-border-basic;
  background: #fff;
  font-size: $size-font-base;
  line-height: normal;
  font-weight: 400;
  color: $color-text-base;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: $size-radius;
  -webkit-tap-highlight-color: transparent;
  transition: box-shadow 150ms ease-out;

  &::-webkit-input-placeholder {
    color: $color-text-placeholder;
  }
  &:read-only {
    background: mix(#000, #fff, 4%);
  }
  &:disabled {
    opacity: .5;
    background: mix(#000, #fff, 4%);
    cursor: not-allowed;
  }
  &:focus {
    border-color: $color-border-focus;
    box-shadow: $color-shadow-focus;
    outline: 0;
  }
}

// textarea
.form-text--textarea {
  height: auto;
  min-height: $size-height-normal;
  line-height: 1.8;
  padding-top: $size-padding * .75;
  padding-bottom: $size-padding * .75;
  resize: vertical;
}

// error
.form-text--error {
  border-color: $color-text-error;
}

// inline
.form-text--inline {
  display: inline-block;
  width: auto;
}

// size
.form-text--size {
  &-small {
    height: $size-height-small;
    font-size: $size-font-small;
  }
  &-large {
    height: $size-height-large;
    font-size: $size-font-large;
  }
}

// state
.form-text--state {
  &-primary {
    border-color: $color-text-primary;
  }
  &-success {
    border-color: $color-text-success;
  }
  &-error {
    border-color: $color-text-error;
  }
}
