// * Forms


@import "./variables";
@import "./mixins";


// fieldset
.forms-fieldset {
	margin: 0;
	padding: 0;
	border: none;
	> legend {
		position: absolute;
		font-size: 0;
		visibility: hidden;
	}
}

// fields
.forms-field {
	box-sizing: border-box;
	&:nth-child(n+2) {
		margin-top: 10px;
	}
	&:first-child,
	legend + &:nth-child(n+2) {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

// label
.forms-label {
	font-size: .875rem;
	line-height: 1rem;
	font-weight: 600;
	cursor: pointer;
}

// help
.forms-help {
	margin: 4px 0 0;
	font-size: .75rem;
	color: $color-gray;
	&--success {
		color: $color-success;
	}
	&--error {
		color: $color-error;
	}
}
