// * Variables


// === color

// theme set
$color-theme-set-1: #A540E3;
$color-theme-set-2: #7E43ED;
$color-theme-set-3: #5247D6;
$color-theme-set-4: #4363ED;
$color-theme-set-5: #408AE3;

// base
$color-base: #2a2a2a;
$color-key: $color-theme-set-3;
$color-sub: $color-theme-set-5;
$color-bg: #fafafa;

// gray
$color-gray: #888;
$color-gray-light: #ccc;


// === size

// screen
$size-min: 320px; // min
$size-tablet: 768px; // tablet
$size-desktop: 1024px; // desktop
$size-desktop-1280: 1280px; // desktop large
$size-desktop-1440: 1440px; // extra large
$size-desktop-1920: 1920px; // fhd
$size-desktop-2560: 2560px; // qhd

// border
$size-border-radius: 2px;

// grid
$size-grid-col-gutter: 8px;



// === font

// basic
$font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-eng: Helvetica, Arial, sans-serif;
$font-console: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;


// === etc

// shadow
$shadow-basic: 0 1px 5px rgba(#000, .15);
