@import "../../css/variables";
@import "../../css/mixins";

// set variables
$self: '.form-radio';
// size
$size-padding: 6px 6px;
$size-font-normal: $form-size-font-basic;
$size-icon-normal: 20px;
$size-icon-normal-padding: 10px;
$size-icon-border: 2px;
$size-label-left-padding: 8px;
// color
$color-border-normal: #ccc;
// speed
$speed-toggle-checked: 100ms;


// base
#{$self} {
	position: relative;
	display: inline-block;
	font-size: 0;
	box-sizing: border-box;
	padding: $size-padding;

	> input {
		position: absolute;
		z-index: 2;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}
	> span {
		display: inline-block;
		> * {
			display: inline-block;
			vertical-align: middle;
		}
		> i {
			position: relative;
			width: $size-icon-normal;
			height: $size-icon-normal;
			border: $size-icon-border solid $color-border-normal;
			border-radius: 50%;
			box-sizing: border-box;
			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 50%;
				top: 50%;
				width: $size-icon-normal - $size-icon-normal-padding;
				height: $size-icon-normal - $size-icon-normal-padding;
				transform: translate(-50%, -50%) scale(0);
				background: $color-key;
				transition: transform $speed-toggle-checked ease-out;
				border-radius: 50%;
			}
		}
		> em {
			margin-left: $size-label-left-padding;
			font-style: normal;
			font-size: $size-font-normal;
			line-height: 1;
		}
	}
	> input:checked + span {
		> i {
			&:after {
				transform: translate(-50%, -50%) scale(1);
			}
		}
	}
}
