@import "../../css/variables";
@import "../../css/mixins";

// set variables
$self: '.form-switch';
// size
$size-width: 50px; // 전체 가로 사이즈
$size-height: 24px; // 전체 세로 사이즈
$size-padding: 4px; // 외곽선과 원의 간격
$size-circle: $size-height - ($size-padding * 2); // 원 사이즈
$size-border-width: 1px; // 외곽선 두께
$size-position-start: $size-padding;
$size-position-end: $size-width - $size-circle - ($size-border-width * 2) - $size-padding;
// color
$color-border-outer: $form-color-border; // 외곽선 색상
$color-circle-off: rgba($color-gray, .5); // off 상태의 원 색상
$color-circle-on: $color-key; // on 상태의 원 색상
$color-border-focus: $form-color-border-focus;
$color-shadow-focus: $form-color-shadow-focus;
// speed
$speed-transition: 200ms; // 원의 전환속도
// opacity
$opacity-disabled: .5;

#{$self} {
	position: relative;
	display: inline-block;
	font-size: 0;
	margin: 0;
	padding: 4px;
	box-sizing: border-box;
	background: none;
	appearance: none;
	border: none;
	@include button-touch-options(false);
	&:focus {
		#{$self}-icon {
			border-color: $color-border-focus;
			box-shadow: $color-shadow-focus;
		}
	}
	&:disabled {
		opacity: $opacity-disabled;
		cursor: not-allowed;
	}
}
#{$self}-icon {
	content: '';
	position: relative;
	display: inline-block;
	width: $size-width;
	height: $size-height;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: $size-border-width solid $color-border-outer;
	border-radius: $size-height * .5;
	box-sizing: border-box;
	> i {
		display: inline-block;
		position: absolute;
		left: 0;
		top: 50%;
		width: $size-circle;
		height: $size-circle;
		background: $color-circle-off;
		border-radius: 50%;
		transition: transform $speed-transition ease-out, background $speed-transition ease-out;
		transform: translate($size-position-start, -50%);
	}
	&--on {
		> i {
			background: $color-circle-on;
			transform: translate($size-position-end, -50%);
		}
	}
}
